
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito' , sans-serif;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

}

.container{
    max-width: 500px;
    margin-top: 50px;

}
.kitchen-title{
    text-align: center;
    font-size:30px;
}

.kichen-header{
    margin: 30px 0 20px;
    display: flex;
}

.kichen-header input{
    height: 42px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;

}

.kichen-header button{
    font-size: 18px;
    height: 42px;
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Nunito',sans-serif;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.3s;
}
.kichen-header button:hover{
    background-color: rgba(0,0,0,8 green, blue, alpha);
}
.kitchen-item-list{
    text-align: left;
    list-style: none;
    perspective: 1000px;
}

.kitchen-item-list li{
    background-color: #ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    padding: 10px 15px;
    margin: 4px 0;
    font-size: 18px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff928b;
    animation: 0.3s ease-in-out;
    animation-name: SlideOut;
}

.fa-trash, .fa-edit{
    cursor: pointer;
    background-color: #fff;
    padding: 6px 10px;
    border-radius: 7px;
    text-align: center;
    margin-top: 3px;
    color: #332d2d;
}

.fa-trash{
    margin-left: auto;
    margin-right: 15px;
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: rotateX(60deg) translateY(-10px);
    }
    to{
        opacity: 1;
        transform:rotateX(0deg) translateY(0px) ;
    }
}

.SlideOut{
    transform: rotateX(60deg) translateY(-10px);
    opacity: 0;
    transition: 1s;
}






